@charset "utf-8";

:root {
    --color-text-b: #ef6a00;
    --color-text: #f18732;
    --color-section: #FCFBF9;
    --color-section-b: #F8F4F1;
    --fontSize-text-h2: 60px;
    --fontSize-text-p: 20px;
}



@media screen and (max-width:1730px) {
    .header .inner {
        padding: 0 60px;
    }

    .main_visual .swiper-slide img {
        width: 100%;
    }

    #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide img {
        width: 100%;
    }

    #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide p {
        width: 100%;
        font-size: 28px;
        padding-top: 20px;
    }

    #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide:hover img {
        transform: scale(1.2);
    }

    #footer .inner .bottom {
        gap: 20px;
    }
}

@media screen and (max-width:1680px) {
    .header .inner .nav .gnb>li {
        width: 150px;
    }
}


@media screen and (max-width:1510px) {
    .header .inner {
        justify-content: space-between;
    }

    .header .inner .nav {
        display: none;
    }

    .header .inner .menu_btn.mobile {
        display: block;
    }

    .header .inner .nav_mobile {
        display: flex;
    }

    #section2 .section_menu .swiper.menu {
        max-width: 1000px;
    }

    #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide {
        width: 100%;
        margin-right: 0;
    }

    #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide img {
        width: 100%;
    }

    #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide p {
        width: 100%;
        font-size: 30px;
        padding-top: 30px;
        background-color: #FFF5EE;
        border-radius: 40px 40px 0 0;
    }

    #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide:hover img {
        transform: scale(1.2);
    }

    #section2 .swiper-pagination {
        bottom: 0;
        position: static;
        margin-top: 30px;
    }

    #section2 .swiper-pagination-bullet.swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    #section2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 25px;
        border-radius: 5px;
        background-color: #f18732;
    }

    #section4 .section_with .swiper-slide {
        width: 100%;
    }

}

@media screen and (max-width:1480px) {
    #footer .inner .right {
        display: none;
    }

    #footer .inner .left img {
        position: relative;
    }

    #footer .inner .bottom .box {
        position: absolute;
        top: 30px;
        right: 25px;
        width: 170px;
        height: 40px;
        padding: 16px 20px;
        border: 2px solid #adadad;
        text-align: center;
    }

    #footer .inner .bottom .box img {
        transform: rotate(180deg)
    }

    #footer .inner .bottom ul {
        gap: 10px;
        line-height: 0.8;
    }
}

@media screen and (max-width:1400px) {

    #footer .inner {
        padding: 40px 30px;
    }

    #footer .inner .bottom .box {
        right: 25px;
    }

    #footer .inner .right strong {
        display: none;
    }
}

@media screen and (max-width:1350px) {
    .section_new {
        padding-top: 0;
    }

    .fp-overflow {
        overflow: hidden;
    }

    .swiper.new .swiper-slide .text_box h2 {
        font-size: 45px;
        margin-bottom: 15px;
    }

    .swiper.new .swiper-slide .text_box p {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .swiper.new .swiper-slide .text_box span {
        font-size: 24px;

    }

    #section4 .section_with .swiper-slide {
        height: auto;
    }

    #section4 .section_with .text_box span {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:1325px) {
    .text h2 {
        font-size: 50px;
        margin-bottom: 10px;
        letter-spacing: 1.5;
    }

    .text p {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:1220px) {
    .swiper.new .swiper-slide .text_box {
        width: 46.55%;
    }

    #section4 .section_with .text_box p {
        font-size: 28px;
    }

    #section4 .section_with .text_box span {
        font-size: 18px;
    }

}

@media screen and (max-width:1060px) {
    .section_new {
        padding-top: 120px;
    }

    .section_new .tab_menu {
        display: none;
    }

    .swiper.new .swiper-slide .text_box p {
        margin-bottom: 50px;
    }

    .section_new .text p,
    .section_menu .text p {
        margin-bottom: 0;
    }

    .swiper.new .swiper-slide .text_box h2 {
        font-size: 40px;
    }

    .swiper.new .swiper-slide .text_box span {
        font-size: 22px;
    }

    .text p {
        margin-bottom: 60px;
    }

    .section_new .swiper.new .swiper-slide {
        display: block;
        align-items: center;
        text-align: center;
    }

    .section_new .swiper.new .swiper-slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_new .swiper.new .swiper-slide img {
        width: 35%;
    }

    .swiper.new .swiper-slide .text_box {
        width: 85%;
        text-align: center;
        background-color: #FCFBF9;
        border-radius: 30px;
        padding: 50px;
        margin: 0 auto;
    }

    #section4 .section_with .swiper-slide .image_box {
        margin: 15px auto;
    }

}

@media screen and (max-width:1000px) {
    .swiper.new .swiper-slide .text_box h2 {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .swiper.new .swiper-slide .text_box span {
        font-size: 20px;
    }
}

@media screen and (max-width:960px) {
    .header .inner .nav_mobile {
        width: 100%;
    }


    .header .inner .nav_mobile .gnb>li>a.depth-01 {
        font-size: 22px;
    }

    .follow_us h3 {
        font-size: 18px;
    }

}

@media screen and (max-width:900px) {
     #section1, 
    #section2,
    #section3,
    #section4 {
        padding: 80px 0;
    }
 
    #section3 .swiper-pagination {
        padding-top: 0;
    }
    #section4 .section_with .text {
        margin-top: 0;
    }
    .section_event {
        margin-top: 0;
        padding-top: 0;
    }
    .section_new {
        padding-top: 0;
    }

    .section_new .text p {
        margin-bottom: 10px;
    }

    .top_menu {
        right: 20px;
    }
    .fp-viewing-6rdPage .top_menu {
        display: block;
    }

}

@media screen and (max-width:850px) {
    .section_new .swiper.new .swiper-slide img {
        width: 40%;
    }

    #section4 .section_with .swiper-slide .image_box {
        margin: 20px auto;
    }

}

@media screen and (max-width:800px) {

    #section2 .text p {
        margin-bottom: 0;
    }

    #footer .inner .right strong {
        display: none;
    }

    #footer .inner .bottom {
        flex-direction: column;
    }

    #footer .inner .bottom>img {
        order: 2;
        align-self: flex-start;
    }

    #footer .inner .bottom ul {
        order: 1;
    }

    #footer .inner .left ul li {
        font-size: 14px;
        font-weight: 500;
    }

    #footer .inner .bottom ul {
        font-size: 14px;
    }

    #section4 .section_with .swiper-slide .image_box {
        margin: 20px auto;
    }

    .fixed_menu.mobile {
        display: block;
    }
}

@media screen and (max-width:725px) {
   
    .swiper.new .swiper-slide .text_box h2 {
        font-size: 35px;
    }

    .swiper.new .swiper-slide .text_box span {
        font-size: 18px;
    }

    #footer .inner {
        padding: 40px 25px 110px;
    }

    .mobilemenu {
        display: block;
    }

    .top_menu {
        bottom: 120px;
    }

}

@media screen and (max-width:700px) {
     #section0 {
        padding-top: 80px;
    }
    .main_visual {
        padding: 0;
    }
     .header::before {
        height: 80px;
    }
    .header .inner {
        padding: 0 30px;
        height: 80px;
    }
    .header .inner .logo a {
        width: 180px;
        height: auto;
    }
    .header .inner .logo a img {
        width: 162px;
        height: 27px;
    }

    .section_new .swiper.new .swiper-slide img {
        width: 40%;
    }

    #section2 .section_menu .swiper.menu {
        width: calc(100% - 30px);
    }

}

@media screen and (max-width:660px) {
    .swiper.new .swiper-slide .text_box h2 {
        font-size: 30px;
    }

    .swiper.new .swiper-slide .text_box p {
        font-size: 15px;
        margin-bottom: 40px;
    }

    .swiper.new .swiper-slide .text_box span {
        font-size: 17px;
    }

    .section_new .swiper.new .swiper-slide img {
        width: 50%;
    }
}

@media screen and (max-width:600px) {

   
    .header .inner .logo {
        margin-right: 0;
    }

    .text h2 {
        font-size: 45px;
        margin-bottom: 5px;
        letter-spacing: 1.5;
    }
    .swiper.new .swiper-slide .text_box h2 {
        margin-bottom: 5px;
    }
    .swiper.new .swiper-slide .text_box {
        padding: 50px 40px;
    }
    #section3 .text p .header .inner .nav_mobile .gnb {
        padding: 40px 40px;
        row-gap: 40px;
    }

    .header .inner .nav_mobile .gnb>li>a.depth-01 {
        font-size: 20px;
    }

    .header .inner .nav_mobile .gnb>li>a.depth-01 img {
        width: 15px;
        height: 10px;
    }

    .header .inner .nav_mobile .menu_btn_close img {
        width: 18px;
    }

    #section4 .section_with .swiper-slide .image_box {
        margin: 15px auto;
    }

    #footer .inner .login ul {
        gap: 10px;
    }

    #footer .inner .middle .icon img {
        margin-left: 10px;
    }

    #searchInput {
        font-size: 16px;
    }

    .section_event .event-br {
        display: block;
    }
    .swiper.new .swiper-pagination {
        margin-top: 30px;
    }
}

@media screen and (max-width:500px) {
    .text h2 {
        font-size: 40px;
    }

    .text p {
        font-size: 18px;
    }

    #section4 .section_with .text_box {
        margin-top: 20px;
    }

    #section4 .section_with .text_box p {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .header .inner .nav_mobile .gnb {
        padding: 40px 45px;
    }

    .top_menu .menu-box {
        width: 65px;
        height: 65px;
        margin-top: 7px;
    }
    .top_menu .menu-box p {
        padding-top: 5px;
    }
    .top_menu .menu-box.top p {
        padding-top: 10px;
    }
    .top_menu .none .menu-box img, .top_menu .menu-box img {
        padding-top: 9px;
    }
    .top_menu .none .menu-box p {
        font-size: 13px;
        padding-top: 5px;
    }
    .top_menu .none .menu-box.close p {
        margin-top: 0;

    }
    .top_menu .menu-box.top img {
        padding-top: 11px;
    }
    
}

    @media screen and (max-width:460px) {
        .swiper.new .swiper-slide .text_box {
            width: 88%;
        }

        .text h2 {
            font-size: 35px;
        }

        .text p {
            font-size: 16px;
        }

        .swiper.new .swiper-slide .text_box p {
            margin-bottom: 30px;
        }

        .swiper.new .swiper-slide .text_box h2 {
            font-size: 25px;
        }

        .swiper.new .swiper-slide .text_box {
            padding: 40px 27px;
            margin-top:10px;
        }

        .swiper.new .swiper-slide .text_box span {
            font-size: 16px;
        }
        #section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide p {
            font-size: 25px;
        }
        .section_new .text p {
            margin-bottom: 20px;
        }
        .section_event .text p,
        #section4 .section_with .text p {
            margin-bottom: 60px;
        }
        #section4 .section_with .text_box p {
            font-size: 22px;
        }
        #section4 .section_with .text_box span {
            font-size: 14px;
        }
        #footer .inner .left ul li {
            letter-spacing: -0.6px;
        }
        #footer .inner .middle {
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start;
        }

        #footer .inner .middle .icon img {
            margin-left: 0;
            margin-right: 10px;
        }
    }