@charset "utf-8";
@import url('reset.css');
@import url('../font/stylesheet.css');


#fp-nav ul li a span {} /* fullpage-nav */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header::before {
    width: 100%;
    content: '';
    height: 100px;
    background-color: #fdfdfd;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 30px 30px;
    box-shadow: 3px 3px 8px #2222223d;
    z-index: -1;
    transition: height 0.5s ease;
}

.header.active::before {
    height: 360px;
}

.header .inner {
    padding: 0 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

.header .inner .logo {
    margin-right: 180px;
}

.header .inner .logo a {
    display: block;
    white-space: nowrap;
}

.header .inner .logo a img {
    width: 200px;
    height: 34px;
    object-fit: cover;
}

.header .inner .nav {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header .inner .nav .gnb {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
}

.header .inner .nav .gnb > li {
    width: 180px;
    position: relative;
}

.header .inner .nav .gnb > li > a {
    width: 100%;
    display: block;
    line-height: 100px;
}

.header .inner .nav .gnb > li > a.depth-01 {
    font-family: 'Debussy';
    letter-spacing: 2px;
    font-size: 22px;
}

.header .inner .nav .gnb > li:nth-child(1) {
    width: 280px;
    margin-right: 40px;
}
.header.active .nav .gnb:hover > li .depth-02 {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.header .inner .nav .gnb > li .depth-02 {
    width: 100%;
    /* display: none; */
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    font-weight: 550;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease-out, transform 0.2s ease-out;
}

.header .inner .nav .gnb > li .depth-02 li a {
    padding: 15px 0;
    display: block;
}

.header .inner .nav:hover .gnb>li .depth-02 {
    display: block;
}

.header .inner .nav .gnb > li:hover > a {
    color: #ef6a00;
}

.header .inner .nav .gnb>li .depth-02 li a:hover {
    color: #f18732;
}

.header .inner .menu_btn.mobile {
    display: none;
}

.header .inner .nav_mobile {
    display: none;
}

#section0 {
    padding-top: 100px;
}

#section0,
#section2,
#section4 {
    background-color: var(--color-section);
}

#section1,
#section3,
#section5,
#footer {
    background-color: var(--color-section-b);
}

.main_visual {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mySwiper {
    width: 1683px;
}

.text {
    text-align: center;
    /* margin-top: 40px; */
}

.text h2 {
    font-family: 'Debussy';
    color: var(--color-text-b);
    font-size: var(--fontSize-text-h2);
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.text p {
    font-size: var(--fontSize-text-p);
    margin-bottom: 80px;
    font-weight: 500;
}
.section_new {
    padding-top: 120px;
}
.section_new .tab_menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 20px;
    cursor: pointer;
}

.section_new .tab_menu li {
    text-align: center;
    line-height: 65px;
    width: 200px;
    height: 65px;
    background-color: #fdfdfd;
    border-radius: 30px 30px 30px 0;
    box-shadow: 0 2px 5px #22222244;
    font-size: var(--fontSize-text-p);
    font-weight: 500;
}

.section_new .tab_menu li.active {
    background-color: #675140;
    font-weight: bold;
    color: #fdfdfd;
}
.section_new .swiper.new .swiper-slide.active {
    display: flex;
}
.section_new .swiper.new .swiper-slide {
    display: none;
    justify-content: center;
}

.section_new .swiper.new .swiper-slide img {
    width: 500px;
}

.swiper.new .swiper-slide .text_box {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper.new .swiper-slide .text_box h2 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

.swiper.new .swiper-slide .text_box p {
    font-size: var(--fontSize-text-p);
    font-weight: bold;
    color: #ADADAD;
    margin-bottom: 90px;
}

.swiper.new .swiper-slide .text_box span {
    font-size: 27px;
    line-height: 1.3;
}
#section2 .section_menu {
    overflow-x: hidden;
}

#section2 .section_menu .swiper.menu {
    width: 1728px;
}

#section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide {
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin-top: 50px;
}

#section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide img {
    width: 317px;
    margin-bottom: -90px;
    transition: transform 0.5s ease;
}

#section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide p {
    padding-top: 30px;
    font-family: 'Debussy';
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    width: 317px;
    height: 200px;
    background-color: #fdfdfd;
    line-height: 200px;
    transition: all 0.5s;
}

#section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide:hover p {
    background-color: #f18732;
    border-radius: 50px 50px 0 0;
    color: #fdfdfd;
}

#section2 .section_menu .swiper.menu .swiper-wrapper .swiper-slide:hover img {
    transform: scale(1.2);
}
.section_event {
    padding-top: 90px;
}

#section3 .section_event .swiper-slide {
    width: 65%;
    border-radius: 30px;
    overflow: hidden;
    transform: scale(0.85);
    opacity: 0.5;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

#section3 .section_event .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section3 .section_event .swiper-slide-active {
    transform: scale(1);
    z-index: 99;
    opacity: 1;
}

#section3 .swiper {
    position: static;
}
.section_event {
    position: relative;
}

#section3 .swiper-pagination {
    bottom: 0;
    position: static;
    margin-top: 20px;
}
#section3.fp-is-overflow .fp-overflow{
    overflow-y: inherit;
}
#section3 .swiper-pagination-bullet.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
#section3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 25px;
    border-radius: 5px;
    background-color: #f18732;
}
#section4 .swiper.with {
  overflow: visible !important;
}

#section4 .swiper.with .swiper-wrapper {
  overflow: visible !important;
}
#section4 .section_with {
    max-width: 1304px;
    width: calc(100% - 40px);
    margin: 0 auto;
    overflow: visible !important;
}
#section4 .section_with .text {
    margin-top: 70px;
}
#section4 .section_with .swiper-slide  {
    width: 408px;
    height: 531px;
    border-radius: 30px;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15) ;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 20px;
}
#section4 .section_with .swiper-slide:hover .image_box img {
    transform: scale(1.09);
}

#section4 .section_with .swiper-slide .image_box {
    width: 363px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px 25px;
}
#section4 .section_with .swiper-wrapper {
    display: flex;
    align-items: center;
}
#section4 .section_with .swiper-slide .image_box img {
    width: 100%;
    object-fit: cover;
    display: block;
}
#section4 .section_with .text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
#section4 .section_with .text_box p {
    font-size: 36px;
    font-family: 'Debussy';
    margin-bottom: 10px;
}
#section4 .section_with .text_box span {
    font-size: 20px;
    font-weight: 500;
}

#footer .inner .set {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#footer .inner .right {
    display: flex;
    text-align: right;
    gap: 70px;
}
#footer .inner .right strong {
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ef6a00;
    background-color: #fdfdfd;
    border-radius: 30px;
    color: #ef6a00;
    transition: all 0.2s;
    cursor: pointer;
}
#footer .inner .right strong:hover {
    background-color: #f18732;
    color: #fdfdfd;
    border: 2px solid #f18732;
}
#footer .inner .right .footer_menu:nth-child(3),
#footer .inner .right .footer_menu:nth-child(4),
#footer .inner .right .footer_menu:nth-child(5) {
    text-align: center;
}

#footer .inner .right .footer_menu p {
    font-family: 'Debussy';
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
#footer .inner .right .footer_menu .menu_list {
    line-height: 1.7;
    font-weight: 500;
}
#footer .inner .middle {
    display: flex;
    justify-content: space-between;
}
#footer .inner .login ul{
    display: flex;
    gap: 20px;
    font-weight: 500;
}
#footer .inner .login ul li:first-child {
    color: #f18732;
    font-weight: 600;
}
#footer .inner .middle .icon img{
    margin-left: 20px;
    cursor: pointer;
}
#footer .inner .bottom {
    display: flex;
}
#footer .inner .bottom ul {
    display: flex;
}